<div ng-repeat="(model, idx) in aliens.currentBacterias"
     class="model {{modelNum}}">
  <div class="col-xs-2">
    <br>
    <button><span class="glyphicon glyphicon-chevron-up" style="float:left;cursor:pointer;" aria-hidden="true" ng-click="getNext(model, -1)"></span></button>
    <br>
    <button><span class="glyphicon glyphicon-chevron-down" style="float:left;cursor:pointer;" aria-hidden="true" ng-click="getNext(model, 1)"></span></button>
  </div>
  <div class="col-xs-8 bacteria {{aliens.getBacteria(model, idx).id}}"
       ng-click="style.highLight(aliens.getBacteria(model, idx).id)"
       ng-if="aliens.getBacteria(model, idx).id[0] != '_'">
    <div ng-repeat="propId in aliens.getBacteria(model, idx).properties"
         class="bacterium {{propId}}">
       <img ng-src="{{aliens.getBacteria(model, idx).url[$index]}}"/>
    </div>
  </div>
  <br/>
</div>
